.layout {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto minmax(320px, 1920px) auto;
    grid-template-rows: max-content 1fr max-content;
    gap: 10px;
    min-height: 100vh;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
} 

.header {
    grid-area: header;
    user-select: none;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    user-select: none;
}