.topHeader {
    position: relative;
    max-width: 1920px;
    height: 50px;
    background-color: var(--primary);
}

.text {
    position: absolute;
    height: 20px;
    width: 485px;
    left: 120px;
    top: 15px;
    border-radius: nullpx;

    font-size: 16px;
    color: var(--white);
}

.sign {
    position: absolute;
    height: 20px;
    width: 120px;
    top: 14px;
    right: 238px;

    font-size: 16px;
    color: var(--white);
}

.sign:hover {
    cursor: pointer;
}

.line {
    position: absolute;
    width: 27px;
    top: 24px;
    right: 204px;

    opacity: 0.3;

    border: 1px solid var(--white);
    transform: rotate(90deg);
}

.currency__container {
    position: relative;
}

.currency {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 72px;
    height: 20px;
    top: 14px;
    right: 123px;
}

.currency:hover {
    cursor: pointer;
}

.currency__text {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--secondary);
}

.currency__active__text {
    font-size: 16px;
    color: var(--white);
}

.currency__arrow__color path {
    fill: var(--white);
}

.currency__select {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    top: 50px;
    right: 117px;
    gap: 10px;
    z-index: 5;
    background-color: var(--white);
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}

.currency__select.active {
    visibility: visible;
    max-height: 230px;
    transition: max-height 0.2s ease-in-out;
}

.centerHeader {
    position: relative;
    max-width: 1920px;
    height: 104px;
}

.nav {
    width: calc(100% - 232px);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 28px;
    margin: 0 123px 0 109px;
}

.navbar {
    display: grid;
    width: 766px;
    grid-template-columns: repeat(6, 1fr);
    color: var(--secondary);
    font-size: 18px;
    line-height: 24px;
}

.menu.active {
    color: var(--primary);
}

.menu:hover {
    cursor: pointer;
    color: var(--primary);
}

.bucketContainer {
    position: relative;
    display: flex;
    width: 62px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}

.bucketContainer:hover {
    cursor: pointer;
}

.ellipse {
    width: 14px;
    height: 14px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: -6px;
}

.bucket__text {
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 10px;
    line-height: 14px;
}

.header__compact {
    height: 47px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__button:hover {
    cursor: pointer;
}

.compact__container {
    position: relative;
}

.menu__wrapper {
    position: relative;
}

.compact__menu {
    visibility: hidden;
    position: absolute;
    top: 47px;
    left: -10px;
    z-index: 5;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    color: var(--secondary);
    background-color: var(--white);
    font-size: 18px;
    line-height: 24px;
    padding: 20px 40px;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}

.compact__menu.active {
    visibility: visible;
    max-height: 230px;
    transition: max-height 0.2s ease-in-out;
}

.compactBucketContainer {
    position: relative;
    display: flex;
    width: 165px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}

.compactBucketContainer:hover {
    cursor: pointer;
}

.currency__compact {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 72px;
    height: 20px;
}

.currency__compact:hover {
    cursor: pointer;
}

.currency__text__compact {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--secondary);
}

.currency____compact__active__text {
    font-size: 16px;
    color: var(--secondary);
}

.currency__compact__arrow__color path {
    fill: var(--secondary);
}

.currency__compact__container {
    position: relative;
}

.currency__compact__select {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    top: 43px;
    gap: 10px;
    z-index: 5;
    background-color: var(--white);
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}

.currency__compact__select.active {
    visibility: visible;
    max-height: 230px;
    transition: max-height 0.2s ease-in-out;
}

.active__currency {
    color: var(--primary);
}
